<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styleVisualizarCRM.css">
    <link rel="stylesheet" href="/base.css">
    <title>Visualizar CRM</title>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>

<body>

    <div class="background-1">
        <header class="header">
            <input type="checkbox" id="check">
            <label for="check">
                <i class="fas fa-bars" id="btn"></i>
                <i class="fas fa-times" id="cancel"></i>
            </label>
            <div class="sidebar">
                <header>
                    <h3>Bem-Vindo</h3><b></b>
                </header>
                <a href="/crm/home">
                    <i class="fas fa-home"></i>
                    <span>Página inicial</span>
                </a>
                <a href="/colaborador/visualizar">
                    <i class="fas fa-user-alt"></i>
                    <span>Colaboradores</span>
                </a>
                <a href="/cadastro/crm">
                    <i class="fas fa-stream"></i>
                    <span>Criar CRM</span>
                </a>
                <a href="/login">
                    <i class="fas fa-sign-out-alt"></i>
                    <span>Sair</span>
                </a>
            </div>
        </header class="masthead">

        <br>
        <h1 style="text-align: center; font-family: Arial, Helvetica, sans-serif;">Visualizar CRM</h1>
        <div class="container">
            <div class="cadastroForm">
                <form action="">
                    <br>

                    <div class="linha">
                        <div class="coluna-50">
                            <label class="formLabel">Número de Cadastro:</label><br>
                            <p class="formInput-50">{{crm.numeroCadastro}}</p><br>
                        </div>

                        <div class="coluna-50">
                            <label class="formLabel">Solicitante:</label>
                            <p class="formInput-50">{{#each colaborador}} {{nome}} {{/each}} </p><br>
                        </div>
                    </div><br>

                    <label class="formLabel">Descrição da demanda:</label><br><br>
                    <textarea class="textArea"  
                    cols="60" rows="10"> {{ crm.descricao }} </textarea>

                    <label class="formLabel">Objetivo a ser atendido:</label><br><br>
                    <textarea class="textArea"  
                    cols="60" rows="10">{{ crm.objetivo }}</textarea>

                    <label class="formLabel">Justificativa:</label><br><br>
                    <textarea class="textArea" 
                    cols="60" rows="10">{{ crm.justificativa }}</textarea>

                    <br><br>
                    <div class="linha">
                        <div class="coluna-50">
                            <label class="formLabel">Complexidade:</label>
                            <p class="formInput-50">{{ crm.complexidade }}</p><br>
                            </select>
                        </div>

                        <div class="coluna-50">
                            <label class="formLabel">Data de abertura:</label>
                            <p class="formInput-50">{{ crm.dataCriacao }}</p><br>
                        </div>
                    </div><br>

                    <div class="linha">
                        <div class="coluna-50">
                            <label class="formLabel">Setores envolvidos:</label><br>
                            <p class="formInput-50">Fiscal</p><br>
                        </div>

                        <div class="coluna-50">
                            <label class="formLabel">Anexos:</label><br>
                            <a href="">imagem.jpeg</a><br>
                            <a href="">descrição.pdf</a>
                        </div>
                    </div><br>
                    <a href="/crm/atualizar/{{ crm.numeroCadastro }}">
                        <input type="button" value="Atualizar" class="botaoAtualizar">
                    </a>
                    <br><br>
                </form>
            </div>
        </div>
    </div>
</body>

</html>